// app-mockup.styl.

iframe
	width 320px //??? Ad format; where to configure?
	height 480px
#corporate-ipsum
	color gray
	line-height 1.5
#unit
	display none
	position absolute
	top 0
	left 50%
	margin-left -160px
